<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <style media="screen">
    .proj{
      border: 1px solid black;
    }

  </style>
  <body>
      <div class="container">
        <header>
            Hi! <%=@user.first_name%>
          <ul>
            <li><a href="/users/show">Home</a></li>
            <li><a href="#">Messages</a></li>
            <li><a href="#">Networking</a></li>
            <li><a href="/sessions">Log Out</a></li>
          </ul>

        </header>
        <form class="" action="/projects" method="post">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

          <p>
            <label>Project Name:</label>
            <input type="text" name="project[name]" value="">
          </p>
          <p>
            <label>Project Description:</label>
            <input type="text" name="project[description]" value="">
          </p>
          <input type="hidden" name="project[admin_id]" value="<%=@user%>">
          <input type="hidden" name="project[active]" value="true">
          <input type="submit" name="name" value="Create Project">
        </form>
        <div class="projects">
          <h1>Your Projects:</h1>
          <% if @project %>
          <%@project.each do |p| %>
          <div class="proj">
            <h3><%=p.name%></h3>
            <p><%=p.description%></p>
            <form class="" action="/project" method="post">
              <input type="hidden" name="_method" value="delete">
              <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
              <input type="hidden" name="project[id]" value="<%=p.id%>">
              <input type="submit" name="name" value="Disband Group">
            </form>
            <p>
              Project Admin:
              <%@admin = User.find_by_id(p.admin_id)%>
              <strong>:<%=@admin.first_name%> <%=@admin.last_name%></strong>
            </p>
            <p>
              Collaboraters:
              <%@members = p.users%>
              <%if @members%>
              <%@members.each do |m|%>
              <p><strong>:<%=m.first_name%> <%=m.last_name%></strong></p>
              <%end%>
              <%end%>
            </p>
          </div>
            <%end%>
            <%end%>
        </div>
        <div class="local_projects">
          <%if @local_projects%>
          <%@local_projects.each do |l|%>
          <h3><%=l.name%></h3>
          <p>
            <%=l.description%>
          </p>
          <p>
            Project Admin:
            <%@local_admin = User.find_by_id(l.admin_id)%>
            <strong>:<%=@local_admin.first_name%> <%=@local_admin.last_name%></strong>
          </p>
          <p>
            Collaboraters:
            <%@members = l.users%>
            <%if @members%>
            <%@members.each do |m|%>
            <p><strong>:<%=m.first_name%> <%=m.last_name%></strong></p>
            <%end%>
            <%end%>
          </p>
          <form class="" action="/join" method="post">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="hidden" name="project[id]" value="<%=l.id%>">
            <input type="submit" name="name" value="Join">
          </form>
          <%end%>
          <%end%>
        </div>
      </div>

  </body>
</html>
